* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-side {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 70px;
    align-self: flex-start;
    margin-bottom: 20px;
}

.text {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 30px;
    line-height: 55px;
}

.gradient-text {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.phones-img {
    width: 350px;
}

.right-side {
    width: 600px;
    scale: 100%;
    border-left: 1px solid #dbdbdb;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #1c1e21;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    background-color: #fff;
    font-size: 14px;
}

.blue-btn {
    width: 100%;
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}

.forgot {
    text-align: center;
    display: block;
    margin: 15px 0 30px;
    color: #1c1e21;
    text-decoration: none;
    font-size: 14px;
}

.fb-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #385185;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
    padding: 8px;
}

.fb-icon {
    font-weight: bold;
    font-size: 16px;
    margin-right: 8px;
}

.white-btn {
    width: 100%;
    background-color: white;
    color: #0095f6;
    border: 1px solid #0095f6;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -6px;
}

.meta-logo {
    text-align: center;
    margin-top: 35px;
    color: #737373;
    font-weight: bold;
}
